APP_ENV=development
APP_PORT=8080

# Supabase PostgreSQL
DATABASE_URL=postgresql://postgres:[password]@db.[project].supabase.co:5432/postgres

# JWT
JWT_SECRET=your-super-secret-key-change-this
JWT_EXPIRES_IN=24h

# Redis (Upstash - opsional untuk Asynq nanti)
REDIS_URL=redis://default:[password]@[host].upstash.io:6379
